

.car-card {
  transition: transform 0.3s ease;
}

.car-card:hover {
  transform: scale(1.05);
}
.testimonial-card-2 {
  background-color: rgba(235, 249, 250, 0.26);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.testimonial-card-2 i {
  position: absolute;
  top: -15px;
  left: 20px;
}

.testimonial-card-2:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.test{
  background-color: black;
}
